#playerInfo {
    margin: 40px auto 0px 50px;
    max-width: fit-content;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border-bottom: 1px solid;
    border-color: var(--accent_border);
}

#matchInfo {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content:flex-start;
  border-radius: 5px;
  text-align:left;
}

.winColors {
  background-color: rgba(37, 37, 93, 0.6);
}

.loseColors {
  background-color: rgb(99, 34, 34, 0.6);
}

.noWrap {
  white-space: nowrap;
}

#playerName {
  margin: 0 0 0 0;
}

img#profileIcon {
  width: 60px;
  border: 2px solid black;
  margin-right: 6px;
  border-radius: 50%;
}

img#championIcon {
  width: 46px;
  object-fit: contain;
  border: 1px solid black;
  margin-right: 6px;
  border-radius: 10%;
}

div#first_box {
  width: 138px;
  flex-shrink: 0;
}

div#match_id {
  font-size: 12px;
}

div.vertical_separator {
  width: 0;
  height: 35px;
  margin: auto 0px auto 5px;
  border-right: 1px solid var(--accent_border);
  border-radius: 10%;
}

#matchStats {
  margin: 0px 10px 0px 10px;
}

li {
  margin: 0px 5px 0px 5px;
}

button#leave_lobby {
  margin: 10px auto;
}