#playerInfo {
    margin: 40px auto 0px 50px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border-bottom: 1px solid;
    border-color: var(--accent_border);
    margin-bottom: 5px;
}

#matchInfo {
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  text-align: left;
}

.winColors {
  background-color: rgba(37, 37, 93, 0.6);
}

.loseColors {
  background-color: rgb(99, 34, 34, 0.6);
}

.noWrap {
  white-space: nowrap;
}

#playerName {
  margin: 0 0 0 0;
}

#noPlayedGames {
  margin: 0px 0px 20px 0px;
  padding-top: 5px;
  text-align: right;
}

img#profileIcon {
  width: 60px;
  border: 2px solid black;
  margin-right: 6px;
  border-radius: 50%;
}

img#championIcon {
  width: 50px;
  margin: auto 6px auto 0px;
  border: 1px solid black;
  border-radius: 10%;
}

div#first_box {
  margin: auto 0px;
  width: 100%;
}

div#match_id {
  font-size: 12px;
}

div.vertical_separator {
  height: 60%;
  margin: auto 5px auto 5px;
  border-right: 1px solid var(--accent_border);
  border-radius: 10%;
}

#matchStats {
  margin: 0px 10px 0px 10px;
}

li {
  margin: 0px 5px 0px 5px;
}

button#leave_lobby {
  margin: 10px auto;
}

#header {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid gray;
  color: grey;
  font-size: 10px;
  margin: auto;
}

#results {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}